In [ ]:
 #EXP:2                 #WORKING WITH DATA USING PANDAS           #URK22AI1030
 #DATE:18/12/23                                                   #BHARATH KUMAR S

BHARATH KUMAR ------ URK22AI1030

In [1]:
#QUESTION:

#Common
#Name = [‘Joe’, ‘jim’, ‘raj’, ‘anand’, ‘uday’]
#Age = [26,29,32,18,22]
#Height = [162, 158, 180, 173, 170]
#Weight = [78, 84, 97, 92, 84]
    #1. Create a DataFrame with the data above
    #2. Create DataFrame from series. dictionaryDictionary : PurchasePurchase = {‘p_item’:[‘Mac_book’, ‘Hp-Envy360’, ‘Dell_inspiron’,’Samsung _Galaxy‘]
    #customer’:[‘Neethu’,’Jeevan’,’Harsh’,’Adyant’],
    #‘city’=[‘Chennai’, ‘Delhi’,’Mumbai’,’Hydrabad’]}
    #3. What is the name of the first column?
    #4. Sort the DataFrame by city in descending order (check the documentation for sort)
    #5. Which customer is in the last row of the DataFrame?
    #6. Reorder the columns with the customer in the first column

In [3]:
#URK22AI1030

#AIM: 
    #Data Manipulation with Pandas

#Description:

   #1- DataFrame Creation:
        #Generate a Pandas DataFrame using provided data for 'Name,' 'Age,' 'Height,' and 'Weight.'
   #2- Series to DataFrame:
        #Convert the 'Purchase' dictionary into a DataFrame with columns: 'p_item,' 'customer,' and 'city.'
   #3- Identify First Column:
        #Determine and display the name of the first column in the DataFrame.
   #4- Sort by City:
        #Utilize DataFrame sorting methods to arrange the data in descending order based on the 'city' column 
   #5- Last Row Customer:
        #Retrieve and display the customer present in the last row of the DataFrame.
   #6- Reorder Columns:
        #Reorganize the columns, placing the 'customer' column at the beginning of the DataFrame.

In [2]:
#1
import pandas as pd

data = {
    'Name': ['Joe', 'Jim', 'Raj', 'Anand', 'Uday'],
    'Age': [26, 29, 32, 18, 22],
    'Height': [162, 158, 180, 173, 170],
    'Weight': [78, 84, 97, 92, 84]
}

df = pd.DataFrame(data)
print(df)

    Name  Age  Height  Weight
0    Joe   26     162      78
1    Jim   29     158      84
2    Raj   32     180      97
3  Anand   18     173      92
4   Uday   22     170      84

In [3]:
#2
purchase_data = {
    'p_item': ['Mac_book', 'Hp-Envy360', 'Dell_inspiron', 'Samsung_Galaxy'],
    'customer': ['Neethu', 'Jeevan', 'Harsh', 'Adyant'],
    'city': ['Chennai', 'Delhi', 'Mumbai', 'Hyderabad']
}

purchase_df = pd.DataFrame(purchase_data)
print(purchase_df)

           p_item customer       city
0        Mac_book   Neethu    Chennai
1      Hp-Envy360   Jeevan      Delhi
2   Dell_inspiron    Harsh     Mumbai
3  Samsung_Galaxy   Adyant  Hyderabad

In [4]:
#3
sorted_purchase_df = purchase_df.sort_values(by='city', ascending=False)
print(sorted_purchase_df)

           p_item customer       city
2   Dell_inspiron    Harsh     Mumbai
3  Samsung_Galaxy   Adyant  Hyderabad
1      Hp-Envy360   Jeevan      Delhi
0        Mac_book   Neethu    Chennai

In [5]:
#4
last_customer = purchase_df.iloc[-1]['customer']
print("Customer in the last row:", last_customer)

Customer in the last row: Adyant

In [6]:
#5
reordered_purchase_df = purchase_df[['customer', 'p_item', 'city']]
print(reordered_purchase_df)

  customer          p_item       city
0   Neethu        Mac_book    Chennai
1   Jeevan      Hp-Envy360      Delhi
2    Harsh   Dell_inspiron     Mumbai
3   Adyant  Samsung_Galaxy  Hyderabad

In [9]:
#6
columns = df.columns[0]
print("COLUMN : \n\n",columns)

COLUMN :

 Name

In [ ]:
#URK22AI1030 

#Question:
    #7. Find the maximum value in a KM column and the minimum value in the weight column.
    #8. Find the mean and median of CC column
    #9. Update the price of the first 20 values with CC 2000 with the new column name;Horse Power’, Horse Power = HP*2
    #10. Filter the Metcolor value is 1.
    
#AIM: 
    #Exploratory Data Analysis with DataFrame Operations
    
#Description:
    #7- Extreme Values Analysis:
        #Identify and report the maximum value in the 'KM' column and the minimum value in the 'Weight' column.
    #8- Central Tendency Analysis:
        #Calculate the mean and median of the 'CC' column to understand its central tendency.
    #9- Column Update:
        #Update the price values of the first 20 rows where 'CC' is 2000, introducing a new column 'Horse Power' computed as HP*2.
    #10- Data Filtering:
        #Filter the DataFrame to include only rows where the 'Metcolor' value is 1, providing insights into a specific subset of the data.

In [4]:
import pandas as pd

In [17]:
df = pd.read_csv("Toyota.csv")

In [18]:
#7
max_km = df['KM'].max()
min_weight = df['Weight'].min()
print("Max KM:", max_km)
print("Min Weight:", min_weight)

Max KM: 243000
Min Weight: 1015

In [19]:
#8
mean_cc = df['CC'].mean()
median_cc = df['CC'].median()
print("Mean CC:", mean_cc)
print("Median CC:", median_cc)

Mean CC: 1610.3587174348697
Median CC: 1600.0

In [26]:
#9
data.loc[data['CC'] == 2000, 'Price'] *= 2
data['Horse Power'] = data['HP'] * 2

print(data.head(20))

    Price  Age     KM FuelType   HP  MetColor  Automatic    CC  Doors  Weight  \
0   54000   23  46986   Diesel   90         1          0  2000      3    1165
1   55000   23  72937   Diesel   90         1          0  2000      3    1165
2   55800   24  41711   Diesel   90         1          0  2000      3    1165
3   59800   26  48000   Diesel   90         0          0  2000      3    1165
4   55000   30  38500   Diesel   90         0          0  2000      3    1170
5   51800   32  61000   Diesel   90         0          0  2000      3    1170
6   67600   27  94612   Diesel   90         1          0  2000      3    1245
7   74400   30  75889   Diesel   90         1          0  2000      3    1245
8   21500   27  19700   Petrol  192         0          0  1800      3    1185
9   12950   23  71138   Diesel   69         0          0  1900      3    1105
10  20950   25  31461   Petrol  192         0          0  1800      3    1185
11  19950   22  43610   Petrol  192         0          0  1800      3    1185
12  19600   25  32189   Petrol  192         0          0  1800      3    1185
13  21500   31  23000   Petrol  192         1          0  1800      3    1185
14  22500   32  34131   Petrol  192         1          0  1800      3    1185
15  22000   28  18739   Petrol  192         0          0  1800      3    1185
16  22750   30  34000   Petrol  192         1          0  1800      3    1185
17  17950   24  21716   Petrol  110         1          0  1600      3    1105
18  16750   24  25563   Petrol  110         0          0  1600      3    1065
19  16950   30  64359   Petrol  110         1          0  1600      3    1105

    Horse Power
0           180
1           180
2           180
3           180
4           180
5           180
6           180
7           180
8           384
9           138
10          384
11          384
12          384
13          384
14          384
15          384
16          384
17          220
18          220
19          220

In [32]:
#10
filtered_df = data[data['MetColor'] == 1]
print(filtered_df)

     Price  Age     KM FuelType   HP  MetColor  Automatic    CC  Doors  \
0    54000   23  46986   Diesel   90         1          0  2000      3
1    55000   23  72937   Diesel   90         1          0  2000      3
2    55800   24  41711   Diesel   90         1          0  2000      3
6    67600   27  94612   Diesel   90         1          0  2000      3
7    74400   30  75889   Diesel   90         1          0  2000      3
..     ...  ...    ...      ...  ...       ...        ...   ...    ...
492   9799   51  59000   Petrol   97         1          0  1400      3
494  11950   54  58745   Petrol  110         1          0  1600      4
495  11250   52  58596   Petrol  110         1          0  1600      3
497  10950   55  58377   Petrol  110         1          0  1600      3
498  11250   56  58142   Petrol  110         1          0  1600      5

     Weight  Horse Power
0      1165          180
1      1165          180
2      1165          180
6      1245          180
7      1245          180
..      ...          ...
492    1025          194
494    1035          220
495    1045          220
497    1050          220
498    1080          220

[372 rows x 11 columns]

In [5]:
#Question:
    #11. Display the first 50 Price, Age, and CC such that age in ascending order
    #12. Group the data frame by Fuel Type and Metcolor.
    #13. Count the null values in the data frame and fill the null values in CC column by ‘25’
    #14. Append 3 new rows in the data frame and display it
    #15. Drop the HP column in the data frame and display it
    #16. Drop the 50 th and 100 th row in the data frame
    #17. Display the price, KM and HP of first 100 values with &#39;CC&#39; greater than 1600
    #18. Select data from particular row and column using loc and iloc.

In [4]:
#URK22AI1030
#AIM: 
    #Advanced DataFrame Operations

#Description:
    #11- Display Sorted Subset:
        #Display the first 50 rows of 'Price,' 'Age,' and 'CC,' sorted by 'Age' in ascending order.
    #12- Data Grouping:
        #Group the DataFrame based on 'Fuel Type' and 'Metcolor,' providing a structured view of the data.
    #13- Handling Missing Values:
        #Count null values in the DataFrame, and fill null values in the 'CC' column with '25.'
    #14- Appending New Rows:
        #Append three new rows to the DataFrame and display the updated structure.
    #15- Column Removal:
        #Drop the 'HP' column from the DataFrame and display the modified structure.
    #16- Row Deletion:
        #Drop the 50th and 100th rows from the DataFrame and display the updated data.
    #17- Conditional Subset Display:
        #Display 'Price,' 'KM,' and 'HP' for the first 100 rows where 'CC' is greater than 1600.
    #18- Selective Data Retrieval:
        #Utilize 'loc' and 'iloc' to selectively retrieve data from a specific row and column in the DataFrame.

In [45]:
#11
data['Age'] = pd.to_numeric(data['Age'], errors='coerce')

result_df = data[['Price', 'Age', 'CC']].sort_values(by='Age').head(50)
print(result_df)

      Price  Age    CC
185   18245    1  1600
184   17795    1  1400
183   21500    2  1600
182   21125    2  1400
110  124000    4  2000
111  125100    4  2000
109  130000    4  2000
179   22500    6  1600
177   19950    7  1600
114   91800    7  2000
117   17900    7  1600
181   18700    7  1400
180   18500    7  1600
113   99800    8  2000
115   99960    8  2000
116   87800    8  2000
172   19500    8  1400
112   99800    8  2000
173   18950    8  1400
174   21950    8  1600
175   19950    8  1600
176   18950    8  1600
178   21950    8  1600
171   23750    8  1600
162   19600    9  1600
170   18245    9  1600
169   17795    9  1400
152   18450   10  1400
157   18900   11  1600
98    18750   11  1600
138   92000   11  2000
164   17650   11  1400
104   19450   11  1600
103   18500   11  1600
168   20500   12  1600
153   19500   12  1600
142   19950   13  1600
137   16250   13  1600
133   15950   13  1600
129   15850   13  1600
120   18950   13  1600
102   18500   13  1400
147   24500   13  1600
154   21750   13  1600
122   16350   14  1600
106   18800   14  1600
166   19950   14  1600
149   20950   14  1600
165   19950   14  1600
163   19500   14  1600

In [47]:
#12
grouped_df = data.groupby(['FuelType', 'MetColor'])

In [48]:
#13
null_count = df.isnull().sum().sum()
df['CC'].fillna(25, inplace=True)

In [50]:
#14
new_rows = [{'Price': 15000, 'Age': 3, 'CC': 1800}, {'Price': 20000, 'Age': 5, 'CC': 2200}, {'Price': 12000, 'Age': 2, 'CC': 1600}]
df = df.append(new_rows, ignore_index=True)
print(df.tail())

     Price  Age  KM FuelType  MetColor  Automatic    CC  Doors  Weight
501  20000    5 NaN      NaN       NaN        NaN  2200    NaN     NaN
502  12000    2 NaN      NaN       NaN        NaN  1600    NaN     NaN
503  15000    3 NaN      NaN       NaN        NaN  1800    NaN     NaN
504  20000    5 NaN      NaN       NaN        NaN  2200    NaN     NaN
505  12000    2 NaN      NaN       NaN        NaN  1600    NaN     NaN

/tmp/ipykernel_1330901/3238083471.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_rows, ignore_index=True)

In [53]:
#15
data.drop(columns=['HP'], inplace=True)
print(data)

     Price  Age     KM FuelType  MetColor  Automatic    CC  Doors  Weight  \
0    54000   23  46986   Diesel         1          0  2000      3    1165
1    55000   23  72937   Diesel         1          0  2000      3    1165
2    55800   24  41711   Diesel         1          0  2000      3    1165
3    59800   26  48000   Diesel         0          0  2000      3    1165
4    55000   30  38500   Diesel         0          0  2000      3    1170
..     ...  ...    ...      ...       ...        ...   ...    ...     ...
494  11950   54  58745   Petrol         1          0  1600      4    1035
495  11250   52  58596   Petrol         1          0  1600      3    1045
496  11750   54  58530   Petrol         0          0  1600      5    1075
497  10950   55  58377   Petrol         1          0  1600      3    1050
498  11250   56  58142   Petrol         1          0  1600      5    1080

     Horse Power
0            180
1            180
2            180
3            180
4            180
..           ...
494          220
495          220
496          220
497          220
498          220

[499 rows x 10 columns]

In [55]:
#16
data.drop([49, 99], inplace=True)
print(data)

     Price  Age     KM FuelType  MetColor  Automatic    CC  Doors  Weight  \
0    54000   23  46986   Diesel         1          0  2000      3    1165
1    55000   23  72937   Diesel         1          0  2000      3    1165
2    55800   24  41711   Diesel         1          0  2000      3    1165
3    59800   26  48000   Diesel         0          0  2000      3    1165
4    55000   30  38500   Diesel         0          0  2000      3    1170
..     ...  ...    ...      ...       ...        ...   ...    ...     ...
494  11950   54  58745   Petrol         1          0  1600      4    1035
495  11250   52  58596   Petrol         1          0  1600      3    1045
496  11750   54  58530   Petrol         0          0  1600      5    1075
497  10950   55  58377   Petrol         1          0  1600      3    1050
498  11250   56  58142   Petrol         1          0  1600      5    1080

     Horse Power
0            180
1            180
2            180
3            180
4            180
..           ...
494          220
495          220
496          220
497          220
498          220

[497 rows x 10 columns]

In [100]:
#17
result_df = data[data['CC'] > 1600][['PRICE', 'KM',]].head(100)
print(result_df)

     PRICE     KM
0    54000  46986
1    55000  72937
2    55800  41711
3    59800  48000
4    55000  38500
..     ...    ...
458   8695  70440
463   8750  69000
465  45800  68520
480  11500  63000
487  35800  61000

[91 rows x 2 columns]

In [84]:
#18
selected_data_loc = data.loc[5, 'PRICE']  
selected_data_iloc = data.iloc[5, 0] 

print("Using loc:", selected_data_loc)
print("Using iloc:", selected_data_iloc)

Using loc: 51800
Using iloc: 51800

In [6]:
#URK22AI1030

#Question:
    #19. Demonstrate the use of index, column, describe, size, ndim, shape, info.
    
#AIM: 
    #Exploring DataFrame Properties and Information
#Description:
    #19- DataFrame Exploration:
    #Demonstrate various DataFrame properties and methods:
    #Index: Understand and display the index of the DataFrame.
    #Columns: Explore and display the column names of the DataFrame.
    #Describe: Provide summary statistics of the numerical columns in the DataFrame.
    #Size: Determine and display the total number of elements in the DataFrame.
    #ndim: Identify and display the number of dimensions in the DataFrame.
    #Shape: Obtain and display the shape of the DataFrame.
    #Info: Retrieve information about the DataFrame, including data types, non-null counts, and memory usage.

In [94]:
#19
print("-----------------------------------------------------------------------")
index = df.index
print("INDEX : \n\n",index)
print("-----------------------------------------------------------------------")
columns = df.columns
print("COLUMN : \n\n",columns)
print("-----------------------------------------------------------------------")
description = df.describe()
print("DESCRIPTION :\n\n",description)
print("-----------------------------------------------------------------------")
size = df.size
print("SIZE : \n\n",size)
print("-----------------------------------------------------------------------")
ndim = df.ndim
print("DIMENSION : \n\n",ndim)
print("-----------------------------------------------------------------------")
shape = df.shape
print("SHAPE : \n\n",shape)
print("-----------------------------------------------------------------------")
info = df.info()
print("INFORMATION: \n\n",info)
print("------------------------------------------------------------------------")

-----------------------------------------------------------------------
INDEX :

 Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            496, 497, 498, 499, 500, 501, 502, 503, 504, 505],
           dtype='int64', length=504)
-----------------------------------------------------------------------
COLUMN :

 Index(['Price', 'Age', 'KM', 'FuelType', 'MetColor', 'Automatic', 'CC',
       'Doors', 'Weight'],
      dtype='object')
-----------------------------------------------------------------------
DESCRIPTION :

               Price         Age             KM    MetColor   Automatic  \
count    504.000000  504.000000     495.000000  495.000000  495.000000
mean   14066.152778   34.656746   53322.545455    0.743434    0.044444
std     4045.613633   14.331742   37051.093275    0.437179    0.206289
min     4350.000000    1.000000       1.000000    0.000000    0.000000
25%    11450.000000   24.000000   28000.000000    0.000000    0.000000
50%    12950.000000   38.000000   45725.000000    1.000000    0.000000
75%    16537.500000   44.000000   71896.500000    1.000000    0.000000
max    32500.000000   56.000000  243000.000000    1.000000    1.000000

                CC       Doors       Weight
count   504.000000  495.000000   495.000000
mean   1614.621032    4.238384  1099.135354
std     183.976901    0.932836    66.589989
min    1300.000000    3.000000  1015.000000
25%    1595.250000    3.000000  1060.000000
50%    1600.000000    5.000000  1080.000000
75%    1600.000000    5.000000  1117.000000
max    2200.000000    5.000000  1615.000000
-----------------------------------------------------------------------
SIZE :

 4536
-----------------------------------------------------------------------
DIMENSION :

 2
-----------------------------------------------------------------------
SHAPE :

 (504, 9)
-----------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 504 entries, 0 to 505
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      504 non-null    int64
 1   Age        504 non-null    int64
 2   KM         495 non-null    float64
 3   FuelType   495 non-null    object
 4   MetColor   495 non-null    float64
 5   Automatic  495 non-null    float64
 6   CC         504 non-null    int64
 7   Doors      495 non-null    float64
 8   Weight     495 non-null    float64
dtypes: float64(5), int64(3), object(1)
memory usage: 55.5+ KB
INFORMATION:

 None
------------------------------------------------------------------------